body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #f1f1f2;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: solid 8px;
  border-color: #216393;
  justify-content: center;
}

#logo {
  background-image: url(../images/kedu-logo.png);
  width: 190px;
  height: 64px;
  background-size: 100% 100%;
  margin: 0px 30px;

}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

nav li {
  display: block;
}
a {
  text-decoration: none;
  color: #216393;
}

nav li a {
    display: block;
    text-align: center;
    padding: 24px;
}
nav li a:hover {
  color: white;
  background-color: #216393;
}

nav {
  margin: 0px 30px;
}

#search-bar {
  margin: 20px 30px;
  display: flex;
  height: 27px;
}
#search-bar-lesson  {
  background-color: white;
  color: white;
  display: flex;
  width: 90%;
  height: 100%;
  max-height: 80px;
  margin: 20px auto 0px auto;
  justify-content: center;
  flex-direction: row;
}

#search-lesson{
  background-color: white;
  color: white;
  display: flex;
  width: 90%;
  max-height: auto;
  margin: 20px auto 0px auto;
  justify-content: center;
  flex-direction: column;
  color: #216393;
}

#search-icon {
  width: 25px;
  height: 27px;
  display: flex;
  background-color: #216393;
  float: left;
  background-size: 100% 100%;
  background-image: url(../images/lupe.jpg);
}

.profile-pic {
  background-image: url(../images/profile-pic.png);
  height: 50px;
  width: 50px;
  background-size: 100% 100%;
  margin: auto 30px;
  display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

#profile-pic:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

#content {
  display: flex;
  flex direction: column;
  justify-content: center;
}

.more {
  align-self: center;
}

section {
  display: flex;
  flex: 3;
  flex-direction: column;
}

#sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px auto 10px auto;
}

article {
  display: flex;
  width: 90%;
  background-color: white;
  color:  black;
  margin: 0px auto 20px auto;
  justify-content: center;
  flex-direction: column;
}

.title {
    background-color: #216393;
    color: white;
    display: flex;
    width: 90%;
    height: 100%;
    max-height: 40px;
    margin: 20px auto 0px auto;
    justify-content: center;
}

button:hover {
  background-color: #00726e;
}

.subject {
    background-color: #ffffff;
    color: black;
    display: flex;
    width: 90%;
    height: 60px;
    margin: 0px auto 0px auto;
    border-bottom: solid 0.2px;
    border-color: #f1f1f2;
}

/*dropdown */

.dropbtn1 {
    background-color: #ffffff;
    color: black;
    display: flex;
    width: 90%;
    height: 60px;
    margin: 0px auto 0px auto;
    border-bottom: solid 0.2px;
    border-color: #f1f1f2;

}


.dropdown1 {
  background-color: #ffffff;
  color: black;
  width: 90%;
  height: 60px;
  margin: 0px auto 0px auto;
  border-bottom: solid 0.2px;
  border-color: #f1f1f2;
}

.dropdown-content1 {
  background-color: #ffffff;
  color: black;
  display: none;
  position: absolute;
  width: 67.5%;
  height: 100%;
  overflow: auto;


}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.show {display:block;}

/*dropdown 2*/

.dropbtn2 {
    background-color: #ffffff;
    color: black;
    display: flex;
    width: 90%;
    height: 60px;
    margin: 0px auto 0px auto;
    border-bottom: solid 0.2px;
    border-color: #f1f1f2;

}


.dropdown2 {
  background-color: #ffffff;
  color: black;
  width: 90%;
  height: 60px;
  margin: 0px auto 0px auto;
  border-bottom: solid 0.2px;
  border-color: #f1f1f2;
}

.dropdown-content2 {
  background-color: #ffffff;
  color: black;
  display: none;
  position: absolute;
  width: 67.5%;
  height: 100%;
  overflow: auto;


}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.show {display:block;}

/*Staveleg dropdown*/
.dropbtn-title-overview-stav {
    background-color: #216393;
    color: white;
    width: 90%;
    height: 100%;
    margin: 0px auto 0px auto;
}

.dropbtn-title-overview-stav:hover, .dropbtn-title-overview-stav:focus {
  background-color: #044C7F;
}

.stav-dropdown {
  position: relative;
  display: inline-block;
}

.stav-dropdown-content {
  display: none;
  background-color: #f1f1f2;
  width: 825px;
  overflow: hidden;
  z-index: 1;
  color: black;
  margin: 0px auto;
}

.stavShow {
  display: block;
}

video {
  display: flex;
  width: 90%;
  max-height: 700px;
  height: 100%;
  margin: 0px auto 0px auto;
}

#staveleg-img {
  margin: 20px;
  height: 400px;
  width: auto;
}

.lesson-details {
  margin: 20px;
  width: 250px;
}

.lessons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.lessons {
  background-color: #216393;
  color: white;
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 20px 10px;
  width: 290px;
}

.lesson {
  display: flex;
  width: 290px;
  height: 197px;
  margin: 5px 10px 5px 10px;
}

#commentText {
  display: flex;
  max-height: 40px;
  flex: 1;
}

.small-img {
  background-image: url(../images/kedu-lesson-8.jpg);
  height: 40px;
  width: 60px;
  background-size: 100% 100%;
  margin: auto 5px;
}

.small-img-1 {
  background-image: url(../images/stock.png);
}

.small-profile {
  background-image: url(../images/helle.JPG);
}

.active {
  color: white;
  background-color: #216393;
}

.lesson-thumbs-up-container {
  display: none;
  width: 18px;
  height: auto;
  position: absolute;
  bottom: 0px;
}

.lesson-eye-container {
  display: none;
  width: 18px;
  height: auto;
  position: absolute;
  bottom: 0px;
}

.lesson-comment-container {
  display: none;
  width: 18px;
  height: auto;
  position: absolute;
  bottom: 0px;
}

#thumbs-up-white {
  width: 18px;
  height: auto;
  position: absolute;
  bottom: 2px;
  right: 38px;
}

#thumbs-up-blue {
  width: 18px;
  height: auto;
  position: relative;
  margin: 12px 12px 12px 4px;
}

#eye-icon-white {
  width: 23px;
  height: auto;
  position: absolute;
  bottom: 3px;
  right: 0px;
}

#eye-icon-blue {
  width: 23px;
  height: auto;
  position: relative;
  margin: 12px;
}

#comment-icon-white {
  width: 20px;
  height: auto;
  position: absolute;
  bottom: 3px;
  left: 36px;
}

#comment-icon-blue {
  width: 20px;
  height: auto;
  position: relative;
  margin: 12px;
}

.lesson1-info {
  display: flex;
  width: 290px;
  height: 49.25px;
  margin: 5px 10px 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  justify-content: center;
  color: white;
  transition: height 0.5s;
  bottom: 0px;
}

.lesson1-info:hover .lesson-thumbs-up-container {
  display: inline;
  transition-delay: 2s;
}

.lesson2-info:hover .lesson-thumbs-up-container {
  display: inline;
  transition-delay: 2s;
}

.lesson3-info:hover .lesson-thumbs-up-container {
  display: inline;
  transition-delay: 2s;
}

.lesson1-info:hover .lesson-eye-container {
  display: inline;
  transition-delay: 2s;
}

.lesson2-info:hover .lesson-eye-container {
  display: inline;
  transition-delay: 2s;
}

.lesson3-info:hover .lesson-eye-container {
  display: inline;
  transition-delay: 2s;
}

.lesson1-info:hover .lesson-comment-container {
  display: inline;
  transition-delay: 2s;
}

.lesson2-info:hover .lesson-comment-container {
  display: inline;
  transition-delay: 2s;
}

.lesson3-info:hover .lesson-comment-container {
  display: inline;
  transition-delay: 2s;
}

.lesson2-info {
  display: flex;
  width: 290px;
  height: 49.25px;
  margin: 5px 10px 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  justify-content: center;
  color: white;
  transition: height 0.5s;
  bottom: 0px;
}

.lesson3-info {
  display: flex;
  width: 290px;
  height: 49.25px;
  margin: 5px 10px 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  justify-content: center;
  color: white;
  transition: height 0.5s;
  bottom: 0px;
}

.lesson-info-container {
  display: flex;
  flex-direction: row;
  width: 930px;
  position: absolute;
}

.lesson1-hover-container {
  display: flex;
  width: 310px;
  position: relative;
  bottom: 0px;
  transition: height 2s;
  flex-direction: row;
  justify-content: center;
}

.lesson2-hover-container {
  display: flex;
  width: 310px;
  position: relative;
  bottom: 0px;
  transition: height 2s;
}

.lesson3-hover-container {
  display: flex;
  width: 310px;
  position: relative;
  bottom: 0px;
  transition: height 2s;
}

.lesson1-hover-container:hover > .lesson1-info{
  height: 98.5px;
}

.lesson2-hover-container:hover > .lesson2-info{
  height: 98.5px;
}

.lesson3-hover-container:hover > .lesson3-info{
  height: 98.5px;
}

.lesson-more {
  display: flex;
  width: 290px;
  height: 197px;
  margin: 5px 10px 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  justify-content: center;
  color: white;
}

.lesson-more-container {
  display: flex;
  flex-direction: row;
  width: 930px;
  position: absolute;
  bottom: 0px;
}

.lesson-more:hover {
  background: rgba(0, 0, 0, 0.8);
  font-size: 110%;
}
#lessonbtn {
  background-color: #00a19b;
  color: white;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 170px;
  margin: 20px auto 0px auto;
  border-radius: 50%;
  z-index: 5;
}

/* TEXT */

h1 {
  font-family: 'Cabin Sketch', cursive;

  text-align: center;
  color: #216393;
  font-size: 350%;
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  margin: 0px;
  text-align: center;
}

h3 {
  margin: 0px;
  text-align: center;
}

h4 {
  margin: auto 5px;
  font-weight: 300;
}

p {
  margin: 20px auto auto auto;
}

/*  FOOTER */

footer {
  width: 100vw;
  height: 12vh;
  background-color: #216393;
  color: white;
  margin-top: 10px;
}

.footer-2 {
  position: absolute;
  bottom: 0;
}

#year {
  height: 50px;
  width: 50px;
  display: flex;
  float: left;
  margin-left: 15px;
}

#powered-by {
    float: right;
    display: flex;
    flex-direction: column;
    max-height: 80px;
    height: auto;
    margin-right: 20px;
}

#logo-white {
  background-image: url(../images/logo-white.png);
  display: flex;
  width: 100px;
  height: 31px;
  background-size: 100% 100%;
  margin-right: 20px;
}

.showModalChat {
  background-color: #216393;
}

.showModalChat:hover {
  background-color: #044c75;
}

button {
  background-color: #00a19b;
  color: white;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 40px;
  margin: 20px auto 0px auto;
  border-radius: 25px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-staveleg {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-chat{
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-stav {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-chat {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-bg-staveleg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-bg-chat {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.showStavelegModal {
    background-color: #ffffff;
    color: black;
    display: flex;
    width: 90%;
    height: 60px;
    margin: 0px auto 0px auto;
    border-bottom: solid 0.2px;
    border-color: #f1f1f2;
}

.showChatModal {
    background-color: #ffffff;
    color: black;
    display: flex;
    width: 90%;
    height: 60px;
    margin: 0px auto 0px auto;
    border-bottom: solid 0.2px;
    border-color: #f1f1f2;
}


@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #logo {
    align-self: center;
  }


  ul {
    display: flex;
    flex-direction: column;
  }

  #content {
    display: flex;
    flex direction: row;
    justify-content: center;
  }
  nav li a {
      display: block;
      text-align: center;
      padding: 22px;
      margin-left: auto;
      margin-right: auto;
}
  #search-bar {
    align-self: center;
  }

  #profile-pic {
    align-self: center;
    margin-bottom: 20px;
  }
}

#lesson-details-title {
  text-align: left;
}

th {
  color: #216393;
}

#kim-img {
  height: 50px;
  border-radius: 50%;
  margin: 5px 5px 5px 50px;
  position: relative;
}
