body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background-color: #f1f1f2;
}

#site-wrapper {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-bottom: 5px;
  border-color: #216393;

}

ul {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

li {
  display: block;
}
a {
  text-decoration: none;
  color: #216393;
}

nav li a {
    display: block;
    text-align: center;
    padding: 22px;
}
nav li a:hover {
  color: white;
  background-color: #216393;

}



#profile-pic {
  background-image: url(../images/profile-pic.png);
  height: 50px;
  width: 50px;
  background-size: 100% 100%;
  margin: 10px;
}

#content {
  display: flex;
}

section {
  display: flex;
  flex: 2;
  flex-direction: column;
}

#sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

article {
  display: flex;
  width: 90%;
  background-color: white;
  color:  black
}

.title {
    background-color: #216393;
    color: white;
    display: flex;
    width: 90%;
    max-height: 30px;
    height: auto;
    margin-top: 20px;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
  font-weight: bold;
  display: block;
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

p {
  margin: 5px;
}

footer {
  width: 100vw;
  height: 10vh;
  background-color: #216393;
  color: white;
  position: absolute;
  bottom: 0px;
}

#year {
  height: 50px;
  width: 50px;
  display: flex;
  float: left;
}

#powered-by {
    float: right;
    display: flex;
    flex-direction: column;
    max-height: 80px;
    height: auto;

}

#logo-white {
  background-image: url(../images/logo-white.png);
  display: flex;
  width: 100px;
  height: 31px;

  background-size: 100% 100%;
}
